# Created by venv; see https://docs.python.org/3/library/venv.html

# Python
__pycache__/
*.pyc

# Virtual environment
venv/
env/
Lib/
Scripts/
Include/
pyvenv.cfg

# VS Code
.vscode/


# Node / Frontend
node_modules/
